# Включить основные файлы
include README.md
include LICENSE
include requirements.txt
include CHANGELOG.md

# Включить папку с данными
recursive-include datas *.ico *.png *.icns

# Включить тесты
recursive-include tests *.py

# Исключить ненужное
exclude .gitignore
exclude .github/*
prune .github
