# Основные файлы
include README.md
include LICENSE
include requirements.txt

# Исходники
recursive-include clipysave *.py

# Данные
recursive-include datas *.ico *.png *.icns

# Исключить ненужное
exclude .gitignore
exclude .github/*
global-exclude __pycache__
global-exclude *.pyc
